#body {
    /*background: black;*/
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
#html {
    scroll-behavior: smooth;
}

#h6 {
    text-align: center;             /* Centra el texto */
    font-weight: bold;              /* Negrita en el texto */
    color: #4f46e5;                 /* Color indigo-600 */
    font-size: rem;                /* Aumenta el tamaño de la fuente (equivalente a 32px) */
}

#h1{
    font-weight: bold; 
    color: #4f46e5;  

}