#body {
    /*background: black;*/
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
#html {
    scroll-behavior: smooth;
}

#h6 {
    text-align: center;             
    font-weight: bold;              
    color: #4f46e5;                
    font-size: rem;                
}

#h1{
    font-weight: bold; 
    color: #4f46e5;  

}